VITE_SUPABASE_URL=https://imguqwewcwzecoroweru.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImltZ3Vxd2V3Y3d6ZWNvcm93ZXJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3OTYyODksImV4cCI6MjEwMjM3MjI4OX0.dgVWgPeJegsotv87FSR37irHM8jKIWm7nMOvXoIAXRg
